// Paleta de colores
:root {
  --bg-color: rgb(240, 240, 240);

  --primario: #4132A6;
  // --primariodark: #3C6B80;
  --primariolight: #8EACBF;

  --secundario: #F29863;
  --secundariodark: #591202;

  --sombreado: #dcece8;
  --color-resalta: white;
  --title-color: #4d4d4d;

  --color-text: #616161;
  --color-border: #ccc;
  
  --font-text: 'Montserrat', Verdana, sans-serif, Geneva, Tahoma;
  --font-title: 'Roboto Condensed', Helvetica, sans-serif;
  --font-articles: 'News Cycle', Helvetica, sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}